img {
     display: block;
     float: center;
     width: auto;
     margin-left: auto;
     margin-right: auto;
     width: 40%
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
    width: 350px;
    text-align: center;
  }
h1{
  text-align: center;
}
p{
  text-align: center;
}
.power{
       font-style: bold,italic;
       color: red;
}
.kay{
     float: left;
     background-color: white;
}
.right{
       float: right;
}
body{
     background-color: black
}
