img {
     dispaly: block;
     float: center;
     width: auto;
     margin-left: auto;
     margin-right: auto;
     width: 50%
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
    width: 350px;
    float: right;
  }
